<style media="screen">
  p{
    font-weight: 500;
  }
</style>

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



        <form>

                <p>課程名稱</p>
                <div><%= f.text_field :name, autofocus: true, type: "text", class: "form-control", placeholder:"資訊素養 (拜託請打全名謝謝)", required: true %></div>

                <br />

            <div class="row">
                <div class="col-6">
                  <p>學期</p>
                  <div><%= f.select 'semester', options_for_select(["105-1", "105-2", "106-1", "106-2", "107-1", "107-2", "已不可考"], "107-2"), {}, :class => 'form-control' %></div>
                </div>
                <div class="col-6">
                  <p>類別</p>
                  <div><%= f.select 'category', options_for_select(["通識-文藝", "通識-史哲", "通識-自然", "通識-社科" , "校際必修", "體育", "資管系", "財金系", "行管系", "觀光系", "經濟系", "企管系",  "社心系", "英文系",  "中文系",  "日文系",  "法律系", "新聞系", "口傳系", "公廣系", "資傳系", "圖傳系", "廣電系", "數媒系", "傳管系"], "通識-文藝"), {}, :class => 'form-control' %>
                  </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-7">
                  <p>課程老師</p>
                  <div><%= f.text_field :teacher, autofocus: true, type: "text", class: "form-control", placeholder:"你記得是誰吧？", required: true %></div>
                </div>
                <div class="col-5">
                  <p>打幾顆 <i class="fa fa-star" style="color: #FDD835"></i> ？</p>
                  <div><%= f.select 'vote', options_for_select(["1", "2", "3", "4", "5"], select: "3"), {}, :class => 'form-control' %></div>
                </div>
            </div>

            <br />

                <p>心得感想</p>
                <div><%= f.text_area :comment, autofocus: true, class: "form-control", rows:"4", placeholder:"這堂課你有什麼感想？ 好玩嗎？ 學很多嗎？ 好過嗎？", required: true %></div>

            <br />

                <p>上課方式</p>
                <div><%= f.text_area :detail, autofocus: true, class: "form-control", rows:"4", placeholder:"老師有沒有什麼固定的上課習慣跟規定呢？", required: true %></div>

            <br />

                <p>作業考試 / 算分方式</p>
                <div><%= f.text_area :exam, autofocus: true, class: "form-control", rows:"4", placeholder:"有無作業 / 考試考多少次 / 如何算分", required: true %></div>

    
      <br />
          <%= f.submit '送出', class: "btn btn-lg btn-primary" %>
          <%= link_to '返回', courses_path, class: "btn btn-lg btn-success"  %>

          <% end %>

        </form>
