<style media="screen">
/*
* Sidebar
*/

.sidebar {
position: fixed;
top: 55px;
left: 0;
z-index: 1000;
padding: 10px;
background-color: #fff;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */*/
}
</style>

<div class="forDevise row" >


<div class="col-sm-2 col-md-2 sidebar" >
  <div class="alert" style="padding:20px">
<%= form_tag(courses_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "課程 老師 類別",  class: "form-control"%>
<%= submit_tag "搜尋", class: "btn btn-block btn-info" %>
<% end %>
  </div>
</div>

<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>課程</th>
        <!-- <th>學期</th> -->
        <th>類別</th>
        <th>老師</th>
        <th>整體評價</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course_path(course), :remote => true, data: {toggle: "modal", target: "#myModal"} %></td>
        <td><%= course.category %></td>
        <td><%= course.teacher %></td>
        <td><% course.vote.times do %><i class="fa fa-star" style="color: #FDD835"></i><% end %></td>
        <!-- <td><%= link_to "詳細", course_path(course), :remote => true, data: {toggle: "modal", target: "#myModal"}, class:"btn btn-sm btn-info" %></td> -->
      </tr>
        <% end %>
    </tbody>
  </table>
</div>


</div>   <!-- row -->

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-focus="true">
</div>
