<style media="screen">
// Box shadow helper
@mixin BoxShadowHelper($level: 1){
@if $level == 1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
@if $level == 2 {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
}
a {transition: .25s all;}
.card {
overflow: hidden;
@include BoxShadowHelper(1);
transition: .25s box-shadow;
&:focus,
&:hover {@include BoxShadowHelper(2);}
}
.card-inverse .card-img-overlay {
background-color: rgba(#333,.85);
border-color: rgba(#333,.85);
}
</style>


<div class="row box">


<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="alert" role="alert" style="background-color: #DADADA">
<%= form_tag(courses_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "搜尋課程",  class: "form-control"%>
<%= submit_tag "搜尋", class: "btn btn-block btn-info" %>
<% end %>
    </div>
</div>


  <% @courses.each do |course| %>
    <div class='item col-xs-12 col-sm-6 col-md-2'>
            <article class="card animated fadeInLeft" style="color:#fff">
              <div class="card-block" style="background-color:#546E7A">
                <p class="card-title" style="font-size:18px">課程：<%= course.name %></p>
                <p class="text" style="font-size:14px; color:#DADADA">老師：<%= course.teacher %></p>
                  <div style="float:right" style="font-size:12px;">
                    <%= course.semester %>
                  </div>
                <p class="text"><%= course.category %></p>
                <% course.vote.times do %><i class="fa fa-star" style="color: #FDD835"></i><% end %>
                  <div style="float:right">
                    <%= link_to "詳細", course_path(course), :remote => true, data: {toggle: "modal", target: "#myModal"}, class:"btn btn-sm btn-info" %>
                </div>
              </div>
            </article><!-- .end Card -->
    </div>
  <% end %>

<!-- <div class="col-md-9">
  <table class="table table-sm table-hover" nowrap>
    <thead nowrap>
      <tr nowrap>
        <th>課程</th>
        <th>學期</th>
        <th>類別</th>
        <th>老師</th>
        <th>整體評價</th>
        <th></th>
      </tr>
    </thead>
    <tbody nowrap>
      <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.semester %></td>
        <td><%= course.category %></td>
        <td><%= course.teacher %></td>
        <td><% course.vote.times do %><i class="fa fa-star" style="color: #FDD835"></i><% end %></td>
        <td><%= link_to "詳細", course_path(course), :remote => true, data: {toggle: "modal", target: "#myModal"}, class:"btn btn-sm btn-info" %></td>

      </tr>
        <% end %>
    </tbody>
  </table>
</div> -->


</div>   <!-- row -->


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
</div>
