<div class="row">

    <!-- <div class="col-sm-12 col-md-12 my-3 p-3 bg-white rounded box-shadow" align="center">

       總人數：<%= @users.length.to_s %>
      </div> -->


  <table id="myTable" class="table table-hover dt-responsive" cellspacing="0" width="100%">
    <thead>
      <tr>
          <th>姓名</th>
          <th>圖片</th>
          <th>信箱</th>
          <th>最後登入</th>
          <th>次數</th>
          <th>最後ip</th>
          <th>註冊於</th>
          <th>管理員</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td> <img src="<%= user.image %>" width="40px" height="40px"> </td>
          <td><%= user.email %></td>
          <td><%= user.last_sign_in_at.to_s(:db) %> (<%= time_ago_in_words(user.last_sign_in_at) %>)</td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td><%= user.created_at.to_s(:db) %> (<%= time_ago_in_words(user.created_at) %>)</td>


          <td>
            <% if user.admin == true %>
              <b style="color:green">YES</b>
            <% else %>
              <span style="color:red">NO</span>
            <% end %>
          </td>

          <td><%= link_to "詳細", admin_user_path(user), :remote => true, data: {toggle: "modal", target: "#userModal"}, class:"btn btn-sm btn-info" %>

          <%= link_to "編輯", edit_admin_user_path(user), :remote => true, data: {toggle: "modal", target: '#myUpdateUser'}, class:"btn btn-sm btn-success" %>

          <%= link_to "刪除", admin_user_path(user), method: :delete, class:"btn btn-sm btn-danger", data: {confirm: "Are you sure?"}  %></td>
        </tr>
          <% end %>
    </tbody>
  </table>

</div>




<div class="modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true" data-no-turbolink>
</div>



<div class="modal" id="myUpdateUser" tabindex="-2" role="dialog" aria-labelledby="updateUserModalLabel"  aria-hidden="true" data-no-turbolink>
</div>
