<div class="row">


<div class="col-md-2 well">
    <div class="alert" role="alert" style="background-color: #DADADA">
<%= form_tag(admin_users_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "搜尋使用者",  class: "form-control"%>
<%= submit_tag "搜尋", class: "btn btn-block btn-info" %>
<% end %>
    </div>

  </div>

<div class="col-md-10">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
          <th>姓名</th>
          <th>圖片</th>
          <th>信箱</th>
          <th>最後登入</th>
          <th>次數</th>
          <th>最後ip</th>
          <th>註冊於</th>
          <th>管理員</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td> <img src="<%= user.image %>" width="50px" height="50px"> </td>
          <td><%= user.email %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td><%= user.created_at %></td>
          <td><%= user.admin %></td>
          <td><%= link_to "詳細", admin_user_path(user), :remote => true, data: {toggle: "modal", target: "#userModal"}, class:"btn btn-sm btn-info" %></td>
          <td><%= link_to "編輯", edit_admin_user_path(user), data: {toggle: "modal", target: "#userEditModal"}, class:"btn btn-sm btn-success", :remote => true %></td>
          <td><%= link_to "刪除", admin_user_path(user), method: :delete, class:"btn btn-sm btn-danger", data: {confirm: "Are you sure?"}  %></td>
        </tr>
          <% end %>
    </tbody>
  </table>
</div>



</div>   <!-- row -->


<div class="modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true" data-no-turbolink>
</div>
