<!DOCTYPE html>
<html>
<head>
  <title>選課世新 SHU Course</title>

  <meta charset="utf-8">
  <!-- <meta name="og:title" content="選課世新 SHU Course"> -->
  <!-- <meta name="og:description" content="這是一個線上課程心得分享平台，能夠很簡單地讓同學們分享對於課程的觀感與心得！"> -->
  <meta name="og:type" content="website">
  <meta name="og:image" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/zh/thumb/c/c8/Shih_Hsin_University_logo.svg/1170px-Shih_Hsin_University_logo.svg.png">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



  <style media="screen">

    html {
      position: relative;
    }

    body{
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 100;
      margin-bottom: 100px;
    }
    container{
      padding-right: 15px;
      padding-left: 15px;
    }
     .footer {
       position: fixed;
       bottom: 0;
       width: 100%;
       height: 60px;
       line-height: 60px;
       background-color: #DADADA;
     }

     body > .container {
       padding: 60px 0 0;
     }

     .footer > .container {
       padding-right: 15px;
       padding-left: 15px;
     }

  </style>

</head>
<body>

  <nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded navbar-inverse" style="background-color: #000;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to '後台系統', admin_users_path, class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li><a class="nav-link" href="#">學分輕鬆拿</a></li> -->
    </ul>
    <ul class="navbar-nav navbar-right">

      <% if current_user.try(:admin?) %>
      <li><%= link_to "使用者管理", admin_users_path, class: "btn btn-outline-info" %></li>&emsp;
      <li><%= link_to "課程管理", admin_courses_path, class: "btn btn-outline-info" %></li>&emsp;
        <li><%= link_to "離開後台", root_path, class: "btn btn-outline-primary" %></li>&emsp;
      <% end %>
    </ul>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-success" align="center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" align="center"><%= alert %></p>
<% end %>

<div style="padding:30px">
<%= yield %>
</div>

<footer class="footer">
      <div class="container">
        <span class="text-muted"> &copy; 選課世新 SHU Course 2017</span>
      </div>
</footer>

<!-- <footer class="blog-footer">
  <span class="text-muted">&#9400; Wei & Kevin 製作</span>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer> -->

<script id="_wau553">var _wau = _wau || [];
_wau.push(["tab", "e9ip0v5hww7m", "553", "left-lower"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/tab.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>


</body>
</html>
