<!DOCTYPE html>
<html>
<head>
  <title>選課世新 SHU Course</title>

  <meta charset="utf-8">
  <!-- <meta name="og:title" content="選課世新 SHU Course"> -->
  <!-- <meta name="og:description" content="這是一個線上課程心得分享平台，能夠很簡單地讓同學們分享對於課程的觀感與心得！"> -->
  <meta name="og:type" content="website">
  <meta name="og:image" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

  <link rel="icon" src="public/favicon.ico">
  <link rel="apple-touch-icon" src="public/favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet">
  

  <style media="screen">

    /*html {
      position: relative;
    }*/

    body{
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 100;
      margin-bottom: 100px;
      -webkit-overflow-scrolling: touch;
    }
    .modal-open {
      position:fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .modal{
      -webkit-overflow-scrolling: touch;
    }

  </style>

</head>
<body>


    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <%= link_to '後台系統', admin_console_index_path, class: 'navbar-brand' %>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
      <!-- <li><a class="nav-link" href="#">學分輕鬆拿</a></li> -->
    </ul>
    <ul class="navbar-nav navbar-right">

      <% if current_user.try(:admin?) %>
      <!-- <li class="nav-link"><%= current_user.name %></li> -->
      <li class="nav-link"><img src="<%= current_user.image %>" class="rounded-circle" width="25" height="100%" alt=""></li>
        <li><%= link_to "離開後台", root_path, class: "nav-link" %></li>
      <% end %>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

      <div class="nav-scroller bg-white box-shadow">
          <nav class="nav nav-underline">
            <%= link_to '主控台',  admin_console_index_path, class: "nav-link #{cp(admin_console_index_path)}" %>
            <%= link_to '課程管理',  admin_courses_path, class: "nav-link #{cp(admin_courses_path)}" %>
            <%= link_to "使用者管理", admin_users_path, class: "nav-link #{cp(admin_users_path)}" %>
          </nav>
        </div>

<% if notice %>
  <p class="alert alert-success" align="center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" align="center"><%= alert %></p>
<% end %>

<div style="padding:10px 30px 10px 30px">
  <%= yield %>
</div>

<!-- <footer class="footer">
      <div class="container">
        <span class="text-muted"> &copy; 選課世新 SHU Course 2017</span>
      </div>
</footer> -->


<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

<script id="_wau553">var _wau = _wau || [];
_wau.push(["tab", "e9ip0v5hww7m", "553", "left-lower"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/tab.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable( {
      "language": {
          "lengthMenu": "每頁 _MENU_ 資料",
          "emptyTable": "無資料",
          "zeroRecords": "沒有找到任何符合資料",
          "info": "第 _PAGE_ 頁 ( 總共 _PAGES_ 頁 )",
          "infoEmpty": "沒有資料",
          "search":  "搜尋:",
          "infoFiltered": "(從 _MAX_ 筆資料查詢)",
          "next": "下一頁",
          "processing":     "處理中...",
          "loadingRecords": "載入中...",
          "paginate": {
            "first":      "最前頁",
            "last":       "最後頁",
            "next":       "下一頁",
            "previous":   "前一頁"
        },
      }
  } );
    responsive: true
    fixedHeader: true
});
</script>



<!-- <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap4.min.js"></script> -->


</body>
</html>