<!DOCTYPE html>
<html>
<head>
  <title>選課世新 SHU Course</title>

  <meta charset="utf-8">
  <!-- <meta name="og:title" content="選課世新 SHU Course"> -->
  <!-- <meta name="og:description" content="這是一個線上課程心得分享平台，能夠很簡單地讓同學們分享對於課程的觀感與心得！"> -->
  <meta name="og:type" content="website">
  <meta name="og:image" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" src="public/favicon.ico">
  <link rel="apple-touch-icon" src="public/favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



  <style media="screen">

    /*html {
      position: relative;
    }*/

    body{
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 100;
      margin-bottom: 100px;
      -webkit-overflow-scrolling: touch;
    }
    .modal-open {
      position:fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .modal{
      -webkit-overflow-scrolling: touch;
    }

  </style>

</head>
<body>

  <nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded navbar-inverse" style="background-color: #000;">
  <div class="navbar-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <%= link_to '後台系統', admin_users_path, class: 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li><a class="nav-link" href="#">學分輕鬆拿</a></li> -->
    </ul>
    <ul class="navbar-nav navbar-right">

      <% if current_user.try(:admin?) %>
      <li><%= link_to "使用者管理", admin_users_path, class: "btn btn-outline-info" %></li>&emsp;
      <li><%= link_to "課程管理", admin_courses_path, class: "btn btn-outline-info" %></li>&emsp;
        <li><%= link_to "離開後台", root_path, class: "btn btn-outline-primary" %></li>&emsp;
      <% end %>
    </ul>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-success" align="center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" align="center"><%= alert %></p>
<% end %>

<div style="padding:30px">
<%= yield %>
</div>

<!-- <footer class="footer">
      <div class="container">
        <span class="text-muted"> &copy; 選課世新 SHU Course 2017</span>
      </div>
</footer> -->

<script id="_wau553">var _wau = _wau || [];
_wau.push(["tab", "e9ip0v5hww7m", "553", "left-lower"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/tab.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();
    responsive: true
});
</script>

<!-- bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<!-- dataTables -->
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<!-- dataTables responsive -->
<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap4.min.js"></script>


</body>
</html>
