<!DOCTYPE html>
<html>
<head>
  <title>選課世新 SHU Course</title>

  <meta charset="utf-8">
  <meta name="og:title" content="選課世新 SHU Course">
  <meta name="og:description" content="這是一個線上課程心得分享平台，能夠很簡單地讓同學們分享對於課程的觀感與心得！">
  <meta name="og:type" content="website">
  <meta name="og:image" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/zh/thumb/c/c8/Shih_Hsin_University_logo.svg/1170px-Shih_Hsin_University_logo.svg.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style media="screen">

    html {
      position: relative;
    }

    body{
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 300;
      margin-bottom: 100px;

    }
     .footer {
       position: fixed;
       bottom: 0;
       width: 100%;
       height: 60px;
       line-height: 60px;
       background-color: #f5f5f5;
     }

     body > .container {
       padding: 60px 0 0;
     }

     .footer > .container {
       padding-right: 15px;
       padding-left: 15px;
     }

  </style>

</head>
<body>

  <nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded navbar-inverse" style="background-color: #34495E;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to '選課世新 SHU Course', root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li><a class="nav-link" href="#">學分輕鬆拿</a></li> -->
    </ul>
    <ul class="navbar-nav navbar-right">
      <% unless user_signed_in? %>
      <!-- <li><%= link_to "註冊", new_user_registration_path, class: 'btn btn-outline-info' %></li>&emsp; -->
      <!-- <li><%= link_to "登入", new_user_session_path, class: "btn btn-outline-success" %></li> -->
      <li><%= link_to '關於', pages_info_url, class: 'nav-link' %></li>&emsp;
      <li>  <%= link_to "FB Login", user_facebook_omniauth_authorize_path, class: "btn btn-outline-success" %></li>
      <% end %>
      <% if user_signed_in? %>
         <!-- <span class="navbar-text"><%= current_user.name %></span>&emsp;
         <img src="<%= current_user.image %>" alt="facebook_profile_photo" height="40px">&emsp; -->
         <li><%= link_to "登出", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
         <li><%= link_to '關於', pages_info_url, class: 'nav-link' %></li>
        <li><%= link_to '回報問題', new_problem_path, class: 'nav-link' %></li>&emsp;
        <li><%= link_to '發表心得', new_course_path, class: 'nav-link', class: "btn btn-outline-info" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-success" align="center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" align="center"><%= alert %></p>
<% end %>

<div class="container" style="padding-top:30px">
<%= yield %>
</div>

<footer class="footer">
      <div class="container">
        <span class="text-muted"> &copy; 選課世新 SHU Course 2017</span>
      </div>
    </footer>

<!-- <footer class="blog-footer">
  <span class="text-muted">&#9400; Wei & Kevin 製作</span>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer> -->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<script type="text/javascript">
// Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;

(function($, window) {
  var Starrr;

  Starrr = (function() {
      Starrr.prototype.defaults = {
          rating: void 0,
          numStars: 5,
          change: function(e, value) {}
      };

      function Starrr($el, options) {
          var i, _, _ref,
              _this = this;

          this.options = $.extend({}, this.defaults, options);
          this.$el = $el;
          _ref = this.defaults;
          for (i in _ref) {
              _ = _ref[i];
              if (this.$el.data(i) != null) {
                  this.options[i] = this.$el.data(i);
              }
          }
          this.createStars();
          this.syncRating();
          this.$el.on('mouseover.starrr', 'i', function(e) {
              return _this.syncRating(_this.$el.find('i').index(e.currentTarget) + 1);
          });
          this.$el.on('mouseout.starrr', function() {
              return _this.syncRating();
          });
          this.$el.on('click.starrr', 'i', function(e) {
              return _this.setRating(_this.$el.find('i').index(e.currentTarget) + 1);
          });
          this.$el.on('starrr:change', this.options.change);
      }

      Starrr.prototype.createStars = function() {
          var _i, _ref, _results;

          _results = [];
          for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
              _results.push(this.$el.append("<i class='fa fa-star-o'></i>"));
          }
          return _results;
      };

      Starrr.prototype.setRating = function(rating) {
          if (this.options.rating === rating) {
              rating = void 0;
          }
          this.options.rating = rating;
          this.syncRating();
          return this.$el.trigger('starrr:change', rating);
      };

      Starrr.prototype.syncRating = function(rating) {
          var i, _i, _j, _ref;

          rating || (rating = this.options.rating);
          if (rating) {
              for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                  this.$el.find('i').eq(i).removeClass('fa-star-o').addClass('fa-star');
              }
          }
          if (rating && rating < 5) {
              for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
                  this.$el.find('i').eq(i).removeClass('fa-star').addClass('fa-star-o');
              }
          }
          if (!rating) {
              return this.$el.find('i').removeClass('fa-star').addClass('fa-star-o');
          }
      };

      return Starrr;

  })();
  return $.fn.extend({
      starrr: function() {
          var args, option;

          option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
          return this.each(function() {
              var data;

              data = $(this).data('star-rating');
              if (!data) {
                  $(this).data('star-rating', (data = new Starrr($(this), option)));
              }
              if (typeof option === 'string') {
                  return data[option].apply(data, args);
              }
          });
      }
  });
})(window.jQuery, window);

$(function() {
  return $(".starrr").starrr();
});

$( document ).ready(function() {

$('#stars').on('starrr:change', function(e, value){
  $('#count').html(value);
});

$('#stars-existing').on('starrr:change', function(e, value){
  $('#count-existing').html(value);
});
});

// $('#myModal').on('shown.bs.modal', function () {
//   $('#myInput').focus()
// })
</script>

</body>
</html>
