<!DOCTYPE html>
<html>
<head>
  <title>選課世新 SHU Course</title>

  <meta charset="utf-8">
  <meta name="og:title" content="選課世新 SHU Course">
  <meta name="og:description" content="這是一個線上課程心得分享平台，能夠很簡單地讓同學們分享對於課程的觀感與心得！">
  <meta name="og:type" content="website">
  <meta name="og:image" content="/link.png">
  <meta property="og:url" content="https://shucourse.herokuapp.com"/>
  <meta property="og:site_name" content="選課世新 SHU Course (Beta 1.0)" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" src="public/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-94077517-1', 'auto');
  ga('send', 'pageview');

  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <%= link_to '選課世新 SHU Course', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li><%= link_to '關於', pages_info_url, class: 'nav-link' %></li>
              <% if current_user.try(:admin?) %>
                <%= link_to "後台", admin_console_index_path, class: "nav-link" %>
              <% end %>
            </ul>
            <ul class="navbar-nav nav-right">
              <% unless user_signed_in? %>
              <li> <%= link_to "FB登入心得分享", user_facebook_omniauth_authorize_path, class: "nav-link" %></li>
              <% end %>
              <% if user_signed_in? %>
                <li class="nav-link"><img src="<%= current_user.image %>" class="rounded-circle" width="25" height="100%" alt=""></li>
                <li><%= link_to "登出", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
                <li><a href="https://www.messenger.com/t/484942598560539" class="nav-link"  target="_blank">問題/意見</a></li>
                <li><%= link_to '心得分享', new_course_path, class: 'nav-link' %></li>
              <% end %>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
      <%= link_to '所有列表', root_path, class: "nav-link #{cp(root_path)}" %>
      <a href="?utf8=✓&search=通識&commit=搜尋" class="nav-link">通識</a>
      <a href="?utf8=✓&search=校際必修&commit=搜尋" class="nav-link">校際必修</a>
      <a href="?utf8=✓&search=體育&commit=搜尋" class="nav-link">體育</a>
      <a href="?utf8=✓&search=資管系&commit=搜尋" class="nav-link">資管系</a>
      <a href="?utf8=✓&search=新聞系&commit=搜尋" class="nav-link">新聞系</a>
      <a href="?utf8=✓&search=公廣系&commit=搜尋" class="nav-link">公廣系</a>
      <a href="?utf8=✓&search=行管系&commit=搜尋" class="nav-link">行管系</a>
      <a href="?utf8=✓&search=圖傳系&commit=搜尋" class="nav-link">圖傳系</a>
      <a href="?utf8=✓&search=社心系&commit=搜尋" class="nav-link">社心系</a>
      <a href="?utf8=✓&search=財金系&commit=搜尋" class="nav-link">財金系</a>
      <a href="?utf8=✓&search=經濟系&commit=搜尋" class="nav-link">經濟系</a>
      <a href="?utf8=✓&search=企管系&commit=搜尋" class="nav-link">企管系</a>
      <a href="?utf8=✓&search=英文系&commit=搜尋" class="nav-link">英文系</a>
      <a href="?utf8=✓&search=中文系&commit=搜尋" class="nav-link">中文系</a>
      <a href="?utf8=✓&search=日文系&commit=搜尋" class="nav-link">日文系</a>
      <a href="?utf8=✓&search=法律系&commit=搜尋" class="nav-link">法律系</a>
      <a href="?utf8=✓&search=觀光系&commit=搜尋" class="nav-link">觀光系</a>
      <a href="?utf8=✓&search=口傳系&commit=搜尋" class="nav-link">口傳系</a>
      <a href="?utf8=✓&search=資傳系&commit=搜尋" class="nav-link">資傳系</a>
      <a href="?utf8=✓&search=廣電系&commit=搜尋" class="nav-link">廣電系</a>
      <a href="?utf8=✓&search=數媒系&commit=搜尋" class="nav-link">數媒系</a>
      <a href="?utf8=✓&search=傳管系&commit=搜尋" class="nav-link">傳管系</a>
    </nav>
  </div>

<% if notice %>
  <!-- <p class="alert alert-success" align="center"><%= notice %></p> -->
  <div class="alert alert-success alert-dismissible fade show" align="center" role="alert">
      <strong>成功訊息：</strong> <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
<% if alert %>
  <!-- <p class="alert alert-danger" align="center"><%= alert %></p> -->
  <div class="alert alert-danger alert-dismissible fade show" align="center" role="alert">
      <strong>失敗訊息：</strong> <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>

<div class="container">
<%= yield %>
</div>

	<a href="#" class="cd-top">Top</a>


<!-- <footer class="footer">
      <div class="container">
        <span class="text-muted"> &copy; 選課世新 SHU Course 2017</span>
      </div>
</footer> -->

</body>


</html>
